:root {
	font-family:
		ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
		'Segoe UI Symbol', 'Noto Color Emoji';

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: rgb(2, 8, 23);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
}

html,
body {
	margin: 0;
}

#map_container {
	position: relative;
	width: 100%;
	height: calc(100vh);
}

.map {
	position: absolute;
	width: 100%;
	min-height: 100%;
}

.nav-logo {
	color: white;
	display: flex;
	align-items: center;
	text-decoration: none;
	gap: 5px;
	padding-top: 25px;
	padding-left: 25px;
}

.nav-logo svg {
	margin-top: -5px;
}

.nav-logo:hover {
	text-decoration: underline;
}

.info-wrapper {
	position: absolute;
	bottom: 15px;
	left: 50%;
	transform: translate(-50%);
}

#info_box {
	background: rgba(255, 255, 255, 0.8);
	border-radius: 15px;
	padding: 15px 20px;
	color: black;
	text-align: center;
}

.maplibregl-popup {
	pointer-events: none;
}

.domain-selection,
.variable-selection,
.date-time-selection {
	background-color: white;
	color: black;
	padding: 5px;
	border-radius: 5px;
	font-size: 15px;
}

.variable-selection {
	margin-top: 5px;
	margin-bottom: 5px;
}

#time_slider_container button {
	border-width: 1px;
	background-color: white;
	color: black;
	padding: 5px;
	border-radius: 5px;
	font-size: 15px;
	padding: 0.5rem 0.75rem;
	font-weight: bold;
}

#slider_time_label {
	margin: 0 0.3rem;
}

.date-time-selection {
	margin-top: 0.5rem;
	border-width: 1px;
}

#darkmode_toggle {
	position: absolute;
	right: 15px;
	bottom: 15px;
	padding: 6px 10px;
	background-color: white;
	color: black;
	border-radius: 5px;
	border: 1px solid black;
	cursor: pointer;
}

.dark #info_box {
	color: white;
	background: rgba(50, 50, 50, 0.85);
}

.dark .domain-selection,
.dark .variable-selection,
.dark .date-time-selection {
	background: rgba(100, 100, 100, 0.8);
	color: white;
}

.dark #time_slider_container button {
	background: rgba(100, 100, 100, 0.8);
	color: white;
}

.dark #darkmode_toggle {
	background: rgba(100, 100, 100, 0.8);
	color: white;
}

.dark .maplibregl-ctrl.maplibregl-ctrl-group {
	background: rgba(40, 40, 40, 0.95);
}

.dark .maplibregl-ctrl.maplibregl-ctrl-group .maplibregl-ctrl-icon {
	filter: invert(1);
}

.dark .maplibregl-ctrl.maplibregl-ctrl-attrib {
	background: rgba(40, 40, 40, 0.95);
	color: white;
}

.dark .maplibregl-ctrl.maplibregl-ctrl-attrib a {
	color: white;
}

.dark .maplibregl-ctrl-attrib-button {
	filter: invert(1);
}
