:root {
	font-family:
		ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
		'Segoe UI Symbol', 'Noto Color Emoji';

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: rgb(2, 8, 23);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
}

html,
body {
	margin: 0;
}

#map_container {
	position: relative;
	width: 100%;
	height: calc(100vh);
}

.map {
	position: absolute;
	width: 100%;
	min-height: 100%;
}

.nav-logo {
	color: white;
	display: flex;
	align-items: center;
	text-decoration: none;
	gap: 5px;
	padding-top: 25px;
	padding-left: 25px;
}

.nav-logo svg {
	margin-top: -5px;
}

.nav-logo:hover {
	text-decoration: underline;
}

.info-wrapper {
	position: absolute;
	bottom: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

#info_box {
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(255, 255, 255, 0.8);
	border-radius: 15px;
	padding: 15px 20px;
	color: black;
	text-align: center;
}

.maplibregl-popup {
	pointer-events: none;
}

.variable-selection,
.domain-selection {
	background-color: white;
	color: black;
	padding: 5px;
	border-radius: 5px;
	font-size: 15px;
}

.variable-selection {
	margin-top: 5px;
	margin-bottom: 5px;
}
